body {
	/*http://www.w3schools.com/cssref/css_websafe_fonts.asp*/
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin: 0;
}

ul {
	list-style: none;
}

a {
    color: #404040;
    text-decoration: none;
}

.underline-link {
    text-decoration: underline;
}

.nav ul li {
 	display: inline-block;
 	padding-left: 1em;
 	padding-right: 1em;
}

/*colors
http://www.color-hex.com/color-palette/26141
*/
.nav {
	background-color: #C0CED7;
	z-index: 100;
	position: fixed;
	display: inline-block;
	width:100%;
	text-align: center;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.49);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.49);
}

.spacer {
	padding: 2.5em;
}

.section {
	width:100%;
	display: inline-block;
	text-align: center;
}

.title {
	background-color: #6BFFE4;
}

.img-of-me {
	width: 10%;
	height: 10%;
	border-radius: 50%;
}

.skills {
	background-color: #A3FFBF;
}

.likes {
	background-color: #CBE632;
}

.likes-list li, .blog-list li {
	padding: .5em;
	text-decoration: underline;
}

.social-list li, .skills-list li {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
}

.footer {
	background-color: #515151;
	
}